In [4]:
#Q1. Create one variable containing following type of data 
str = "hello world"
list = [1 ,2,3, 123,'AI',2.3]
float = 34.60
tuple =(3,2,4,(3,4,),[7,8,9])
print(type(str),str)
print(type(list),list)
print(type(float),float)
print(type(tuple),tuple)

<class 'str'> hello world
<class 'list'> [1, 2, 3, 123, 'AI', 2.3]
<class 'float'> 34.6
<class 'tuple'> (3, 2, 4, (3, 4), [7, 8, 9])

In [6]:
#Q2. Given are some following variables containing data:
var1 = " "
var2 = "[ DS , ML , Python]"
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
print(type(var1),var1)
print(type(var2),var2)
print(type(float),float)
print(type(tuple),tuple)

<class 'str'>
<class 'str'> [ DS , ML , Python]
<class 'float'> 34.6
<class 'tuple'> (3, 2, 4, (3, 4), [7, 8, 9])

In [8]:
#Q3. Explain the use of the following operators using an example:
a = 20/10
b = 16%3
c = 7//2
d = 4**2
print(a)
print(b)
print(c)
print(d)

2.0
1
3
16

In [10]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type
l1 = [34, 56.90,"hello",(1,2,3,4,5,8),['hi',89.6,7],8,9,"sam",{1,2,3,4,5},10]
for i in l1:
    print(type(i),i)

<class 'int'> 34
<class 'float'> 56.9
<class 'str'> hello
<class 'tuple'> (1, 2, 3, 4, 5, 8)
<class 'list'> ['hi', 89.6, 7]
<class 'int'> 8
<class 'int'> 9
<class 'str'> sam
<class 'set'> {1, 2, 3, 4, 5}
<class 'int'> 10

In [15]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
A = int(input("enter the value of A :")) 
B = int(input("enter the value of B :")) 
i = 0
while A%B==0:
    A = A//B
    i+=1

print(f"The number can be divisible {i} times.")

enter the value of A : 8
enter the value of B : 2

The number can be divisible 3 times.

In [17]:
num = [ i for i in range(1,26)]
for n in num :
    if n % 3==0:
        print(f"{n} is divisible by 3.")
    else:
        print(f"{n} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

In [18]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
#Mutable: You can modify the object in place (e.g., lists, dictionaries).
#Immutable: Any modification creates a new object (e.g., strings, tuples).

# Example of a mutable list
my_list = [1, 2, 3]
print(f"Original list: {my_list}")

# Modifying the list
my_list[0] = 10
print(f"Modified list: {my_list}")

# Example of an immutable string
my_string = "Hello"
print(f"Original string: {my_string}")

# Attempting to modify the string
my_string = my_string + " World"
print(f"Modified string: {my_string}")

Original list: [1, 2, 3]
Modified list: [10, 2, 3]
Original string: Hello
Modified string: Hello World